<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div id="form-auth" class="col-md-4">
            <form action="/pin" method="POST" enctype="multipart/form-data">
                <div class="card-block">
                    <div class="text-center">
                        <h3><i class="fa fa-lock"></i> New Fool-Pin:</h3>
                        <hr class="mt-2 mb-2">
                    </div>
                    <div class="md-form">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="https://images.unsplash.com/photo-1502685904007-66914fdd9118?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9%0A&s=c8f1ba56615d946523bdce7c5b769bd9" class="img-fluid img-thumbnail" id="image">
                        </div>
                        <div class="col-md-6">
                            <h5 class="mb-1">Pin Avatar</h5>
                            <input type="file" name="image" accept="image/*" onchange="loadFile(event)" class="form-control-file" id="file" aria-describedby="fileHelp" required>
                            <small id="fileHelp" class="form-text text-muted">
                            Please select an <strong>image</strong> that fool-trest's your desires.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-indigo">Create</button>
                </div>
                <hr>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

<% include ../partials/imageFooter %>