<% include ./partials/header %>
<% include ./partials/profileNavbar %>

<% var defaultPath = "https://images.unsplash.com/photo-1502685904007-66914fdd9118?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9%0A&s=c8f1ba56615d946523bdce7c5b769bd9" %>

<div class="container mt-5">
    <%if(userPins && userPins.length > 0) {%>
        <div class="row">
          <div class="ui special cards mt-1">
              <%userPins.forEach(function(pin) {%>
                <div class="col-md-4">
                    <div class="card mt-2">
                    <div class="blurring dimmable image">
                      <div class="ui">
                      </div>
                      <%if(pin.image === null || pin.image === undefined) {%>
                        <img class="card-img" src="<%=defaultPath%>" alt="pin image">
                      <%} else {%>
                        <img class="card-img" src="<%=pin.image%>" alt="pin image">
                      <%}%>
                    </div>
                    <div class="card-block hoverable">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="pull-left">
                                      <div class="pull-left">
                                            <small><%=moment(pin.date).fromNow()%></small>
                                      </div>  
                                </div>
                            </div>
                            <div class="col-sm-6">
                               <div class="pull -right">
                                   <form action="/pin/<%=pin._id%>?_method=DELETE" method="POST">
                                        <button class="btn btn-danger btn-sm">Delete</button>
                                   </form>
                               </div> 
                            </div>
                        </div>
                    </div> 
                </div>
                </div>
              <%})%>
          </div>
         </div>
    <%} else {%>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 mt-5">
                <img class="img-fluid img-thumbnail z-depth-3" src="https://images.unsplash.com/photo-1500644970114-4ff3c3dfb61f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9%0A&s=3f573177349c2f8628d829502ecb990b">
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="z-depth-3 mt-2 pb-2">
                    <p class="lead text-muted text-center">You have no fool-pins yet</p>
                    <p class="lead text-muted text-center"><a href="/pin/new">Add</a> one</p>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    <% } %>
</div>

<% include ./partials/footer %>